<o-form #TraspasosLINForm attr="TraspasosLIN_form_insert" service="TraspasosLIN" entity="TraspasosLIN" 
keys="Numero" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #Origen attr="Origen" label=" Origen*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-list-picker 
        attr="Referencia"
        service="Producto" 
        entity="ProductoType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="Referencia" 
        value-column-type="INTEGER"  
        keys="Referencia" 
        columns="Referencia;Referencia;Referencia" 
        title="Referencia"
        visible-columns="Referencia;Referencia" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-integer-input #idOrigen attr="idOrigen" label="idOrigen" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #Destino attr="Destino" label="Destino" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #Numero attr="Numero" label="Numero" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #Producto attr="Producto" label="Producto" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #FechaTraspaso attr="FechaTraspaso" type="timestamp" label="FechaTraspaso" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #PedidoProveedor attr="PedidoProveedor" label="PedidoProveedor" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #idDestino attr="idDestino" label="idDestino" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #Cantidad attr="Cantidad" label="Cantidad" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>